@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'taIlwindcss';

@theme{
    --font-roboto:'Roboto', sans-serif;
    --font-electro:'Electrolize',sans-serif;
    --color-nav-gray: #d8d8d8;
}
@plugin 'daisyui';

